html {
    
    --font-display-1-family:inherit;
    --font-display-1-size:9.33rem;
    --font-display-1-weight:300;

    --font-display-2-family:inherit;
    --font-display-2-size:4.66rem;
    --font-display-2-weight:normal;

    --font-display-3-family:inherit;
    --font-display-3-size:3.75rem;
    --font-display-3-weight:normal;

    --font-display-4-family:inherit;
    --font-display-4-size:2.83rem;
    --font-display-4-weight:normal;

    --font-headline-family:inherit;
    --font-headline-size:2rem;
    --font-headline-weight:normal;

    --font-title-family:inherit;            
    --font-title-size:1.66rem;
    --font-title-weight:500;

    --font-subheading-family:inherit;
    --font-subheading-size:1.25rem;
    --font-subheading-weight:normal;

    --font-body-2-family:inherit;
    --font-body-2-size: 1.08rem;
    --font-body-2-weight:500;

    --font-body-1-family:inherit;
    --font-body-1-size: 1.08rem;
    --font-body-1-weight:normal;

    --font-caption-family:inherit;
    --font-caption-size: 1rem;
    --font-caption-weight:normal;

    --font-button-family:inherit;
    --font-button-size: 1.16rem;
    --font-button-weight:500;

    --font-header-family:inherit;
    --font-header-size: 1.16rem;
    --font-header-weight:500;

    --font-subcaption-family:inherit;
    --font-subcaption-size: .8rem;
    --font-subcaption-weight:500;

    --font-subindex-family:inherit;
    --font-subindex-size: .6rem;
    --font-subindex-weight:600;
}